body {
    background-color: #000;
    color: #fff;
    font-family: 'Pattaya', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.BlurWebs {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    animation: rotate 10s infinite linear;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    animation: scale 10s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
